@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

body {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.container .canvas {
  width: 100%;
  height: 100%;
}

.container .image {
  width: 100%;
  height: 100%;
}

.formContent {
  padding: 15px;
  margin: 10px 5px;
  border-bottom: 1px solid black;

}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.title {
  padding-bottom: 3px;
  border-bottom: 1px black solid;
}

@media screen and (max-width: 480px){
  .wrapper {
    width: 350px;
  }
}


button {
  color: #000;
  border: none;
  padding: 20px;
  margin: 10px 5px;
  border-radius: 5px;
};

label {
  margin-right: 10px;
}

input {
  width: 100%;
  padding: 10px 0;
  border: none;
  font-size: 20px;
}

input[type="file"] {
  display: none;
}

input[type="color"] {
  padding: 0;
  width: 25%;
  background-color: #ffffff;
}




.file {
  font-size: 15px;
  margin-left: 20px;
  padding: 10px 10px;
  background-color: rgb(242, 242, 242);
  border-radius: 10px;
}

select {
  color: #000;
  background-color: rgb(252, 252, 252);
  appearance: none;
  border-radius: 10px;
  margin: 5px 20px;
  padding: 10px 10px 10px 5px;
  border: 1px solid black;
}


textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  vertical-align: middle;
  resize: none;
  padding: 5px;
  resize: "vertical";
}

h1 {
  font-size: 25px;
  margin: 15px 5px;

}

.selector {
  padding-top: 10px;
  display: inline;
}